@font-face {
  font-family: "Alegreya";
  font-display: swap;
  src: local('Alegreya'),
    url('/src/assets/fonts/Alegreya-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Alegreya";
  font-display: swap;
  src: local('Alegreya'),
    url('/src/assets/fonts/Alegreya-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Alegreya";
  font-display: swap;
  src: local('Alegreya'),
    url('/src/assets/fonts/Alegreya-Bold.ttf') format("truetype");
  font-weight: 700;
}