:root {
  --background-main: #253334;
  --background-card: #F7F3F0;
  --background-icon: #FFFFFFE5;
  --background-icon-hover: #69B09C;
  --background-button: #253334;
  --background-button-hover: #202728;

  --color-white: #ffffff;
  --color-main: #000000;
  --color-secondary: #FFFFFFB2;
  --color-green: #253334;

  --border-radius-l: 20px;
  --border-radius-m: 10px;
}