@use "./fonts.scss";
@use "./normalize.scss";
@use "./variables.scss";


html {
  font-size: 62.5%;
}

body {
  font-family: 'Alegreya', sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-main);
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}